@import 'mixins';

body {
	font-family: 'Segoe UI', sans-serif;
}

.container {
	padding: 10px;
	background: #EBEBEB;
	height: inherit;
}

@media (min-width: 1220px) {
	.container {		
		font-family: 'Segoe UI', sans-serif;
		color: #000000;
		.row {
			max-width: 100%;
			padding: 0;
		}
	}
}