@import '../../views-style-base.scss';

.title-area {
	.name {
		margin-left: 5px;		
		height: 1.8125rem;
		font-weight: 700;
		
		i {
			position: relative;
			bottom: 7px;
			margin-right: 10px;
			font-size: 18px;
		}
		
		span {
			position: relative;
			bottom: 7px;			
		}
	}	
}

.top-bar-section {
	ul {
		li {
			background: $widgetNavBarBackgroundColour;
			margin-right: 10px;	
			cursor: pointer;
			
			:last-child{
				margin-right: 5px;	
			}
		}
	}
}