<nav class="app-topbar top-bar" data-topbar="" role="navigation">
	<ul class="title-area">
		<!-- Title Area -->
		<li class="name">

		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a>
		</li>
	</ul>


	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click"><a href="#">Widgets</a>

				<ul class="dropdown">											
					<li><a href="#">Widget 1</a>
					</li>
					<li><a href="#">Widget 2</a>
					</li>					
					<li><a href="#">Widget 3</a>
					</li>					
				</ul>
			</li>
		</ul>
	</section>
</nav>